.sp-main {
    height: 100vh;
}
.sp-homepage {
    height: 100%;
    background-image: url("../public/static/images/background-home-desktop.jpg");
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
}